@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
}

.btns {
  font-size: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  color: white;
  background-color: #ba0f30;
  cursor: pointer;
  transition: 0.3s ease;
  font-family: poppins, sans-serif;
}

.btns:hover {
  background-color: #d61a3f;
  cursor: pointer;
}
