* {
  padding: 0;
  margin: 0;
}

.navbar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 50px;
  width: 90%;
  padding: 12px 20px;
  top: 20px; /* ya jo distance chahiye */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.logo img {
  width: 100px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn button {
  font-size: 17px;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 60px;
  padding-bottom: 10px;
  border: none;
  border-radius: 25px;
  color: white;
  background-color: #ba0f30;
  transition: 0.3s ease;
}
.btn button:hover {
  background-color: #d61a3f;
  cursor: pointer;
}

.btn i {
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #ba0f30;
  padding: 10px;
  border-radius: 50%;
  border: 4px solid white;
  margin-left: -40px;
  transition: 0.3s ease;
}

.btn i:hover {
  background-color: #d61a3f;
  transform: scale(1.2) rotate(10deg);
  cursor: pointer;
}

@media (max-width: 768px) {
  .btn button {
    font-size: 14px;
    padding: 8px 30px 8px 25px; /* top-right-bottom-left */
  }

  .btn i {
    font-size: 16px;
    padding: 8px;
    margin-left: -25px;
    border-width: 3px;
  }

  .logo img {
    width: 80px;
  }
}

@media (max-width: 480px) {
  .btn button {
    font-size: 12px;
    padding: 7px 32px 7px 18px;
  }

  .btn i {
    font-size: 14px;
    padding: 6px;
    margin-left: -22px;
    border-width: 2px;
  }

  .logo img {
    width: 70px;
  }
}

@media (max-width: 320px) {
  .navbar {
    align-items: center;
    justify-content: space-between;
  }

  .navbar img {
    width: 60px;
  }

  .btn button {
    display: none;
  }

  .btn i {
    font-size: 18px;
    padding: 10px;
    margin-left: 0;
    border-width: 3px;
  }
}
